body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 252, 244);
}
.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: calc(100% - 330px);
    position: fixed;
    z-index: 1;
}
.list{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    background-color: chocolate;
    height: 90px;
    padding: 10px;
    margin-right: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 91%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: gray;
}

.contact-info span {
    margin-right: 20px;
}

.login {
    margin-left: auto;
}

.login button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login button:hover {
    background-color: darkorange;
}

.line {
    height: 2px;
    background-color: gray;
    width: 100%;
    margin: 10px 0;
}

.pizza-header {
    color: white;
    font-size: 14px;
    margin-top: -5px;
}

.phone {
    font-size: 20px;
}

.hours {
    font-size: 14px;
}

.delivery {
    font-size: 16px;
}
@media (max-width: 1130px) {
    .delivery{
        display: none;
    }
}
@media (max-width: 915px) {
    .hours{
        display: none;
    }
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    position: absolute;
    width: calc(100% - 330px);
}

.pizza-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pizza-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    position: relative;
    padding: 20px;
    width:300px;
}

.pizza-label-new {
    position: absolute;
    padding: 10px;
    color: white;
    background-color: #cb5b51;
    border-radius: 15px;
    width: min-content;
    height:min-content;

    right: -15px;
    top: -15px;

}
.pizza-label-popular {
    position: absolute;
    padding: 10px;
    color: white;
    background-color: forestgreen;
    border-radius: 15px;
    width: min-content;
    height:min-content;

    right: -15px;
    top: -15px;

}
.pizza-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.table-button:hover {
    background-color: darkorange;
}

.pizza-icon {
    width: 100%;
    height: auto;
}

.pizza-title {
    font-size: 20px;
    color: chocolate;
    margin: 10px 5px 5px;
    text-align: left;
}

.pizza-type {
    text-align: left;
    font-size: 12px;
    color: lightgray;
    margin-bottom: 10px;
    margin-left: 5px;
}


.pizza-content {
    padding: 0 10px 10px;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    min-height: 90px;
}

.pizza-sizes {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #eee;
}

.pizza-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.pizza-size-diameter::before {
    content: "\D8";
    margin-right: 10px;
}

.pizza-size-weight::before {
    content: "\2696";
    margin-right: 3px;
}

.pizza-size-price {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}

.pizza-size-hrn {
    font-size: 14px;
    color: #666;
    margin-top: -5px;
}

.pizza-size-button {
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.pizza-size-button:hover {
    background-color: darkorange;
}

.all-pizzas {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.pizza-count {
    font-size:12px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category {
    display: flex;
    font-size: 12px;
    color: orange;
    padding: 10px 20px;
    background-color: rgb(255, 252, 244);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category:hover {
    background-color: orange;
    color: white;
}

.category.active {
    background-color: orange;
    color: white;
}

.dot-line{
    margin-top: 5px;
    margin-bottom: 10px;
}
.dot-line {
    height: 1px;
    background: transparent;
    box-shadow: 0px 1px 0px 0px white;
}
.lower-bage{
    clip-path: polygon(0 0, 50% 9%, 100% 0, 100% 100%, 0 100%);
    text-align: center;
    position: fixed;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
    background-color: chocolate;
    height: 90px;
    width: 70px;
    bottom:-48px;
    transition: transform 0.3s;
}
.lower-bage:hover{
    transform: translateY(-37%);
}
.order-summary-header {
    flex-shrink: 0;
    height: 90px;
    flex-direction: row;
    text-align: center;
    align-content: center;

}

.order-summary-header div {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;

    gap: 5px;

}

.amount-in-order {

    color: white;

    border-radius: 20px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;

    background: #ff9900;

}

.order-summary-header div h3{

    margin-top: auto;
    margin-bottom: auto;

}

.clear-order {

    margin-left: auto;
    font-size: 12px;

    align-content: center;

    color:#8d8d8d;
    cursor: pointer;
}



.order-summary {

    padding: 0;

    display: flex;
    flex-direction: column;

    width: 310px;

    background-color: #f8f8f8;

    border-left: 1px solid #ccc;

    right: 0;

    position: fixed;
    height: 100%;

}
.buy-section {

    padding: 20px;

    margin-top: auto;

}

.order-list {

    overflow-y:auto;
    overflow-x: hidden;

    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;


    margin: 0;

    width: 100%;
    height: 100%;

    background-color: #f5f5f5;

}

.order-item {

    position:relative;

    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    text-align: left;
    color:#ff9900;
    font-size:20px;

    flex-direction: column;


    border-bottom: solid 1px #cccccc;

}

#item-controls {

    width:65%;
    height: 20px;
    margin-bottom: 10px;

    display: flex;

}

.summary-item-delete-button {

    margin-left: auto;

}

.item-name {
    padding: 10px;
}

.order-item div img {

    block-size: 15px;

}

.order-item div button {

    display: inline-block;

    width: 30px;
    height: 30px;

    text-align: center;

    margin-top: 0px;

    color: white;

    border-radius: 20px;
    padding-right: 8px;
    padding-left: 8px;


}

.order-item div {
    display: inline-block;
    flex-direction: row;

    align-items: center;


    padding: 10px;

    color:black;
    font-size: medium;

}

.order-img {

    position:absolute;

    right:-50px;
    top:10px;
    width:100px;
    height:100px;


}

.order-summary h3 {
    margin-top: 0;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
}


.order-summary p {
    font-weight: bold;
}

.order-summary button {
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
.dec{
    font-size: 15px;
    background:red ;
}
.buy{
    font-size: 15px;
    background:green;
}
.order{
    background:orange;
    padding: 10px;
}
.summary-item-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.summary-item-delete-button:hover {
    background-color: #f0f0f0;
    border-color: #ff9900;
}

.summary-item-delete-button:active {
    background-color: #ff9900;
    color: white;
    border-color: #ff9900;
}

.summary-item-delete-button::before {
    content: '✕';
    color: #ff9900;
    font-size: 15px;
    line-height: 1;
}


.table-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.table-content {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(255, 252, 244)
}

.close-table-button {
    position: absolute;
    top: 45px;
    right: 25px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#pizzaPivotTable {
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(255, 252, 244)
}

#zvit{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 0;
}